.login {
  height: 94vh;
}

.login__form {
  max-width: 600px;
}

.login__card {
  padding: 10rem 6rem !important;
}

.login__container {
  padding: 0; 
  height: 100vh;
  text-align: center;
  vertical-align: center;
}

.login__header {
  text-align: center;
}